.sidebar {
  width: 220px;
  background: #fff;
  padding: 20px 0px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sidebar h3 {
  margin-bottom: 15px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  width: 100%;
}

.sidebar a {
  margin: 10px 0;
  font-size: 20px;
  text-decoration: none;
  color: #333;
  transition: color 0.2s;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar a.active {
  color: #062dca;
  font-weight: bold;
}

.sidebar button {
  margin-top: auto;
  padding: 12px 32px;
  font-size: 20px;
  border-radius: 12px;
  border: none;
  background: #fff;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 8px #0001;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} 